*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
}

header {
    position: sticky;
    background-color: black;
    color: white;
    display: flex
    justify-content: space-between;
    align-items: center;

}

header,
footer {
    background-color: black;
    color: white;
}

nav a {
    color: white;
}

main{
    width: 1024px;
    margin: 0 auto
}

section {
    padding: ;
}